<div class="userprofilhtml">

<div class="container">

  <div class="row avatarbanner">
    <% if @user.avatar %>
      <div class="col-sm-6"> <%= image_tag @user.avatar, class:"profile-pict" %> </div>
    <% end %>
      <div class="card mes-points col-sm-6">
        <div class="pseudo">
          <strong> <%= @user.username %> </strong>
        </div>
        <div class="truc">
          Points : <%= @user_points %>
        </div>
        <!-- <p> Scores des users <%= @ordered_users_scores %> </p>
        <p> Point de l'user <%= @user_points %> </p> -->
        <p style="font-size: 16px !important; margin-top: 10px !important"> <i class="fa fa-star" aria-hidden="true"></i>
 Classement : <%= @rank %> / <%= @users.count %> </p>
      </div>
    </div>

    <div class="bio-user">
      <div class="card">
        <h3> Ma bio </h3>
        <p>
          <%= @user.bio  %>
        </p>
      </div>
    </div>

    <div class="infos-user">
      <div class="card mes-evenements">
        <div class="carte">
          <span><%= @user.events.count %></span>
          <% if @user.events.count < 2  %>
            <p>collecte créée</p>
          <% else %>
            <p>collectes créées</p>
          <% end %>

        </div>
      </div>


      <div class="card mes-participations">
        <div class="carte">
          <span><%= @user.event_participants.count  %></span>
          <% if @user.event_participants.count < 2 %>
            <p>participation</p>
          <% else %>
            <p>participations</p>
          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>
