<div class="rejoindre">

  <h1> Rejoindre la collecte </h1>

  <div class="bodyrejoindre">
    <h2> <%= @event.location.name %>
    <h4> <%= l(@event.schedule, format: '%A %e %B %Y %H:%M') %> </h4>
    <% if @event.user == current_user  %>
      <h6 style="text-align: center"> <em> Collecte créée par vous </em> </h6>
    <% else %>
      <h6 style="text-align: center"> <em> Collecte créée par <%= @event.user.username %> </em> </h6>
    <% end %>
  </div>


  <br>

  <% if @event.event_participants.length == 0 %>
    <p> Pas encore de participant à cette collecte </p>
  <% elsif @event.event_participants.length == 1 %>
    <p> <%= @event.event_participants.length %> participant à cette collecte </p>
  <% else %>
    <p> <%= @event.event_participants.length %> participants à cette collecte </p>
  <% end %>


    <% if @event.users.include?(current_user)  %>
      <p>
        <i class="fa fa-check" aria-hidden="true"></i> Vous participez à cette collecte
      </p>
      <p> <%= link_to 'Se désinscrire', event_event_participant_path(@event), class: "btn btn-danger", method: :delete  %>
    <% else %>
      <p>
        <%= link_to 'Participez à cette collecte', event_event_participants_path(@event), class: "btn btn-lieu", method: :post  %>
      </p>
    <% end %>


  <div class="socials" style="display: flex">
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2&appId=414892035984987&autoLogAppEvents=1"></script>

    <div class="fb-share-button" data-href="https://green-up.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true" style="margin-right: 15px"><a target="_top" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftoto.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=Hey%20les%20gars%20ça%20vous%20dit%20de%20venir%20nettoyer%20cet%20endroit%20avec%20moi"
      data-size="large">
    Tweet</a>
  </div>
</div>



<!--
SHOW Page d'évent : bouton partager Twitter / Fb, participer/se désinscrire, nb et liste des participants, organisateur, photo, date et heure (début et fin) -->

<!--
<p> Current user : <%= current_user.username %> (id : <%= current_user.id  %>) </p>
<p> Créateur de l'event : <%= @event.user.username %> (id : <%= @event.user_id %>) </p>
-->
