<%= simple_form_for @location do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name, label: "Nom de l'emplacement", placeholder: "Soyez le plus précis possible" %>
  <%= f.input :description, placeholder: "Prendre des gants..."%>
  <h3>Séléctionner les déchêts présents</h3>
  <div class="checkboxinput">
    <div class="container">
      <ul class="ks-cboxtags">
        <% ["toto", "tata"].each do |garbage| %>
          <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label for="checkboxOne"><%= garbage %></label></li>
        <% end %>
      </ul>
    </div>


    <div class="buttonphoto">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <input type="hidden" name="lat" id="lat">
      <input type="hidden" name="long" id="long">
  </div>

  </div>

<div class="creer">
    <%= f.submit "Créer", class: "btn btn-block btn-lieu" %>
  <% end %>
</div>

