<!-- <p> <%= cl_image_tag location.photo, height: 100, width: 133, crop: :fill %> </p>
<p> <%= link_to location.name, location_path(location)%> </p>


 -->

<%= link_to location_path(location) do %>
    <p> <%= cl_image_tag location.photo, height: 100, width: 133, crop: :fill %> </p>
    <p> <%= location.name %> </p >
<% end %>


