<div class="lieu">
  <h1><%= @location.name %> </h1>


    <div class="backimg" style="background-image: linear-gradient(50deg, #FF512F10, #DD247610), url(<%= cl_image_path(@location.photo) %>);">
    </div>



  <div class="bodylieu">
    <h2> Description </h2>

    <div id="i-have-a-tooltip" data-description="I'm a tooltip!">
      <% if !@location.description || @location.description.blank? %>
        <p> <em> Pas de description </em> </p>
      <% else %>
        <p> <%= @location.description %> </p>
      <% end %>
    </div>

    <h2> Type de déchets présents </h2>
    <div id="i-have-a-tooltip" data-description="I'm a tooltip!">
      <% if @location.garbage.empty? %>
        <p> <em> Aucun déchet indiqué </em> </p>
      <% else %>
      <ul>
        <% @location.garbage.each do |g| %>
          <li> <%= g %> </li>
        <% end %>
      </ul>
    <% end %>
    </div>

    <% if @location.event %>
      <%= link_to 'Rejoins la collecte !', event_path(@location.event), class: "btn center-block btn-lieu" %>
    <% else %>
      <p> Pas de collecte pour l'instant </p>
      <%= link_to 'Organiser une collecte', new_location_event_path(@location), class: "btn center-block btn-lieu" %>
    <% end %>
  </div>

</div>

