<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Green Up - pour une nature sans déchets </title>
    <!-- Pour progressive web app -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="/logo.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.jpg">
    <link rel="manifest" href="/manifest.json">
    <!-- Meta Open Graph -->
    <meta property="og:title" content="Green Up, pour une nature sans déchets" />
    <meta property="og:description" content="Se réunir pour localiser et aller nettoyer les décharges sauvages" />
    <meta property="og:url" content="https://green-up.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url 'logofb.jpg' %>" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- NE PAS OUBLIER -->
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700" rel="stylesheet">
    <%= favicon_link_tag asset_path('logonew.png') %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="main-container">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
